<div class="row">
    <div class="col"></div>
    <div class="col">
        <table class="table ml-2 mt-2" style="width: 50vw; margin-left: 25vw;">
            <thead style="background-color: #0074E1;">
              <tr>
                <th scope="col" colspan="7" style="text-align: center; color: white">
                  New companies
                </th>
              </tr>
              <tr style="color: white">
                <th scope="col">#</th>
                <th scope="col">Company name</th>
                <th scope="col">Organization</th>
                <th scope="col">Country</th>
                <th scope="col">State</th>
                <th scope="col">State location</th>
                <th scope="col">Manipulation</th>
              </tr>
            </thead>
            <tbody style="color: #0074E1">
              <tr *ngFor="let item of companies; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.companyName}}</td>
                <td>{{item.organization}}</td>
                <td>{{item.country}}</td>
                <td>{{item.state}}</td>
                <td>{{item.stateLocation}}</td>
                <td style="text-align: center;">
                    <a class="active mr-2" (click)="approve(item.companyName)">
                        <img src="/assets/img/approval-32.png">
                      </a>
                    <a class="active mr-2" (click)="refuse(item.companyName)">
                      <img src="/assets/img/x-mark-4-32.png">
                    </a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
    <div class="col"></div>
</div>
