table {
    width: 100%;
  }
  
  #titleContainer{
      text-align: center;
  }
  
  #mainTitle{
    display: inline-block;
  }

  // td.mat-cell {
  //     width: 100pc
  // }

  .title-cell {
    width: 200pc
  }
  
  .issn-cell {
    width: 40pc
  }

  .no-cell {
    width: 30pc
  }
  
  .sf-cell {
    width: 200pc
  }
  
  .add-cell {
    width: 80pc
  }
  
  .show-cell {
    width: 20pc
  }

  .submit-button {
    float: right;
  }