<body class="text-center">
    <div class="row component">
      <div class="col"></div>
      <div class="col">
          <h1 class="h3 mb-3 font-weight-normal">PayPal subscription plan creation</h1>
          <form [formGroup]="SingIn" (ngSubmit)="onSubmit($event)" novalidate style="width: 40vh; margin-left: 41vw;">
              <div class="form-group">
                  <label>Name</label>
                  <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                  <div *ngIf="submitted && f.name.errors">
                      <div style="color:red;">Name is incorect!</div>
                  </div>
              </div>
  
              <div class="form-group">
                  <label>Description</label>
                  <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                  <div *ngIf="submitted && f.description.errors">
                      <div style="color:red;">Description is incorect!</div>
                  </div>
              </div>

              <div class="form-group">
                <label>Type</label>
                <select formControlName="type" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                    <option disabled selected value> -- select an Type -- </option>
                    <option>Autors</option>
                    <option>Readers </option>
                </select>
                <div *ngIf="submitted && f.type.errors">
                    <div style="color:red;">Frequency is required!</div>
                </div>
            </div>

              <div class="form-group">
                <label>Amount</label>
                <input type="text" formControlName="amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
                <div *ngIf="submitted && f.amount.errors">
                    <div style="color:red;">Amount is incorect!</div>
                </div>
            </div>

            <div class="form-group">
                <label>Frequency</label>
                <select formControlName="frequency" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.frequency.errors }">
                    <option disabled selected value> -- select an Frequency -- </option>
                    <option>WEEK</option>
                    <option>DAY</option>
                    <option>MONTH</option>
                    <option>YEAR</option>
                </select>
                <div *ngIf="submitted && f.frequency.errors">
                    <div style="color:red;">Frequency is required!</div>
                </div>
            </div>

            <div class="form-group">
                <label>Frequency interval</label>
                <select formControlName="frequencyInterval" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.frequencyInterval.errors }">
                    <option disabled selected value> -- select an Frequency interval -- </option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <div *ngIf="submitted && f.frequencyInterval.errors">
                    <div style="color:red;">Frequency interval is required!</div>
                </div>
            </div>

            <div class="form-group">
                <label>Cycles</label>
                <input type="text" formControlName="cycles" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cycles.errors }" />
                <div *ngIf="submitted && f.cycles.errors">
                    <div style="color:red;">Cycles is required!</div>
                </div>
            </div>
  
              <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
              </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
    
  </body>