<button mat-button (click)="showShoppingCart()">Shopping Cart</button>
<br>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="magazines">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> no. </th>
      <td mat-cell *matCellDef="let element; let i = index;">{{ i+1 }}</td>
    </ng-container>

    <ng-container matColumnDef="issn">
      <th mat-header-cell *matHeaderCellDef> ISSN </th>
      <td mat-cell *matCellDef="let element">{{ element.issn }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="scientificField">
      <th mat-header-cell *matHeaderCellDef> Scientific Field </th>
      <td mat-cell *matCellDef="let element">{{ element.scientificField.name | titlecase}}</td>
    </ng-container>

    <ng-container matColumnDef="addToShoppingCart">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button>
          <i class="material-icons" (click)="addToShoppingCart(element)">
            add_shopping_cart
          </i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </mat-table>
</div>
