.login {
    width: 350px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .pd-width {
    width: 85%;
  }

.show_hide_pass {
        padding: 0.4em;
}