
<body *ngIf="payments" class="text-center">
        <div class="row">
          <div class="col-3"></div>
          <div class="col">
                <h1 style="text-align: center; margin-top: 5vh; margin-bottom: 5vh;">Welcome to payment concentrator. <br> Choose a payment method.</h1>
              <form [formGroup]="SingIn" (ngSubmit)="onSubmit($event)" novalidate>

                  <div  class="form-group">
                      <div *ngFor="let item of payments">
                            <label><input type="radio" value="{{item}}" class="form-control" formControlName="payment" name="payment">
                                {{item}} <p style="color: green; display: inline;">Active!</p></label>
                    </div>
                      <div *ngFor="let item of paymentsNoneActive">
                      <label><input disabled type="radio" value="{{item}}" class="form-control" formControlName="payment" name="payment">
                          {{item}} <p style="color: red; display: inline;">Currently unavailable!</p></label>
                      </div>
                  </div>
      
                  <div class="form-group">
                      <button class="btn btn-lg btn-primary btn-block" type="submit">Continue</button>
                  </div>
            </form>
          </div>
          <div class="col-3"></div>
        </div>
        
      </body>